---
file_name: "{{component_name}}Controller"
file_extension: ts
file_paths: 
  - Controllers
---

<?php

namespace {{ namespace }};

use App\Http\Controllers\Controller;

class {{ hello }} extends Controller
{
}