---
file_name: "{{domain_name}}DTO"
file_paths:
  - DTOs
---
<?php

namespace App\Domains\{{domain_name}}\DTOs;

class {{domain_name}}DTO
{
    public function __construct(
        // define properties here
    ) {}
}
