---
file_name: "{{domain_name}}"
file_paths:
  - Models
---
<?php

namespace App\Domains\{{domain_name}}\Models;

use Illuminate\Database\Eloquent\Model;

class {{domain_name}} extends Model
{
    protected $fillable = [
        // fields
    ];
}
