<?php

namespace {{ namespace }};

use Illuminate\Support\ServiceProvider;


class {{ filename }} extends ServiceProvider
{
    public function register(): void
    {
        //
    }

    public function boot(): void
    {
        $this->loadMigrationsFrom(realpath(__DIR__ . '/../Migrations'));
    }
}
